{% extends 'base.html' %}

{% block content %}
<div class="container mt-3" style=" padding: 20px; border-radius: 12px;  max-width: 500px;">

    <h1 class="text-center mb-3" style="font-family: 'Pacifico', cursive; font-size: 1.8rem; color: #d35400;">
        Add Recipe
    </h1>

    <form method="post" style="background-color: #ffffff; border-radius: 8px; padding: 15px;">
        {% csrf_token %}

        <div style="display: grid; gap: 1rem;">
            {% for field in form %}
            <div style="display: flex; flex-direction: column; margin-bottom: 8px;">
                <label style="font-family: 'Pacifico', cursive; font-weight: bold; font-size: 1.3rem; color: #333; margin-bottom: 4px;">
                    {{ field.label }}
                </label>
                <div style="padding: 6px 8px; font-size: 0.9rem;  border-radius: 4px;">
                    {{ field }}
                </div>
                {% if field.help_text %}
                <small style="color: #6c757d; margin-top: 2px;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <small style="color: red; margin-top: 2px;">{{ error }}</small>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <div style="display: flex; justify-content: space-between; margin-top: 15px;">
            <button type="submit"
                style="background-color: #e67e22; color: #fff; border: none; padding: 10px 0; width: 48%; border-radius: 20px; font-family: 'Pacifico', cursive; font-size: 1rem; transition: background-color 0.3s;">
                Save
            </button>
            <a href="{% url 'recipe_list' %}"
                style="background-color: #6c757d; color: #fff; text-align: center; padding: 10px 0; width: 48%; border-radius: 20px; font-size: 1rem; text-decoration: none; font-family: 'Pacifico', cursive; ">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}