{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <a href="{% url 'recipe_create' %}" class="btn btn-primary mb-3">Add New Recipe</a>
        
        <!-- Recipe List -->
        <ul class="list-group">
            {% for recipe in recipes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'recipe_detail' recipe.id %}" class="h5 text-decoration-none text-dark">{{ recipe.title }}</a>
                    
                  
                    <div class="btn-group">
                        <a href="{% url 'recipe_update' recipe.id %}" class="btn btn-sm btn-warning mx-1">Edit</a>
                        <a href="{% url 'recipe_delete' recipe.id %}" class="btn btn-sm btn-danger mx-1">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
